.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    /* В мозиле, естественно, не блурится */
    /* А filter: blur(10px); переходит на вложенные элементы и блурит всё*/
    backdrop-filter: blur(10px);
    transform: scale(0);
}

.active {
    transform: scale(1);
}

.content {
    max-width: 350px;
    width: 100%;
    margin-top: 12%;
}

.content h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    color: #FFFFFF;
}

.p1, .p2, .p3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

.p1 {
    margin-bottom: 20px;
}

.p2 {
    margin-bottom: 40px;
}

.p3 {
    font-size: 14px;
    line-height: 16px;
    margin-top: 40px;
}

.content button {
    width: 180px;
    height: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    border-radius: 3px;
    color: #FFFFFF;
    background: #C00D0D;
}

.content button:hover {
    color: #C00D0D;
    background: #FFFFFF;
}

.cross {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 26px;
    height: 26px;
    background-image: url("../../../images/modals/cross.svg");
}